@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Slim custom scrollbar */
.sidebar-scrollable::-webkit-scrollbar {
    width: 6px;
}

.sidebar-scrollable::-webkit-scrollbar-track {
    background-color: #f9f8f6;
    border-radius: 10px;
}

.sidebar-scrollable::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.sidebar-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}